@media screen and (min-width: 750px){
    li {
        background-repeat: no-repeat;
        background-position: 7% 2%;
        background-size:128px 128px; 
      }
    #navigation-elements{
        margin-left:40%;
      }
    #logo{
        display:none;
    }
}
    @media screen and (max-width: 749px){
        #navigation-elements{
            margin-left:13%;
          }
        #logo{
            padding-right:50%;
            display:inherit;
        }
        ul{
            margin:0;
            padding:0;
            width: 100%;
        }
        
        #post-card{
            margin:0;
            width:95%;
            margin-right:3%;
            margin-left:1%;
            margin-bottom:5%;

        }

    }
    